<div class = "footer-menu">
    <div class = "footer-container">
        <p>© Федеральное государственное автономное образовательное учреждение высшего образования «Санкт-Петербургский государственный университет аэрокосмического приборостроения»</p>
    </div>
</div>

<a href='#' class='scrollup'>Наверх</a>