<div class="text">
    <h1>Шифр Цезаря</h1>

    <div class="image" style="float: right;">
        <img src="/assets/images/caesar1.png">
        <p>Шифр Цезаря</p>
    </div>

    {{> table_of_contents}}

    <br>

    <h2 id="description">Описание</h2>

    <p>Шифр Цезаря один из наиболее древнейших известных шифров. Назван в честь римского полководца Гая Юлия Цезаря,
        использовавшего его для секретной переписки со своими генералами.</p>
    <p>Схема шифрования очень проста — используется сдвиг буквы алфавита на фиксированное число позиций. Используемое
        преобразование обычно обозначают как ROTN, где N — сдвиг, ROT — сокращение от слова ROTATE, в данном случае
        «циклический сдвиг».</p>
    <p>Алфавит действительно зацикливается, то есть буквы в конце алфавита преобразуются в буквы начала алфавита.
        Например, обозначение ROT2 обозначает сдвиг на 2 позиции, то есть, «А» превращается в «В», «Б» в «Г», и так
        далее, и в конце «Ю» превращается в «А» а «Я» — в «Б». Число разных преобразований конечно и зависит от длины
        алфавита. Для русского языка возможно 32 разных преобразования (преобразования ROT0 и ROT33 сохраняют исходный
        текст, а дальше начинаются уже повторения). Неалфавитные символы — знаки препинания, пробелы, цифры — не
        меняются.</p>

    <h2 id="encryption">Алгоритм действий при шифровании</h2>

    <p>Например, зашифруем текст</p>
    <p class="note">В чащах юга жил бы цитрус? Да, но фальшивый экземпляр!</p>
    <p>с помощью сдвига на 3 позиции (ROT3). Буква «Е» «сдвигается» на три буквы вперёд и становится буквой «И». Твёрдый
        знак, перемещённый на три буквы вперёд, становится буквой «Э», буква «Я», перемещённая на три буквы вперёд,
        становится буквой «В», и так далее:</p>
    <table class="note">
        <tr>
            <td width="200px">Исходный алфавит:</td>
            <td>А</td>
            <td>Б</td>
            <td>В</td>
            <td>Г</td>
            <td>Д</td>
            <td>Е</td>
            <td>Ж</td>
            <td>З</td>
            <td>И</td>
            <td>Й</td>
            <td>К</td>
            <td>Л</td>
            <td>М</td>
            <td>Н</td>
            <td>О</td>
            <td>П</td>
            <td>Р</td>
            <td>С</td>
            <td>Т</td>
            <td>У</td>
            <td>Ф</td>
            <td>Х</td>
            <td>Ц</td>
            <td>Ч</td>
            <td>Ш</td>
            <td>Щ</td>
            <td>Ъ</td>
            <td>Ы</td>
            <td>Ь</td>
            <td>Э</td>
            <td>Ю</td>
            <td>Я</td>
        </tr>
        <tr>
            <td>Шифрованный:</td>
            <td>Г</td>
            <td>Д</td>
            <td>Е</td>
            <td>Ж</td>
            <td>З</td>
            <td>И</td>
            <td>Й</td>
            <td>К</td>
            <td>Л</td>
            <td>М</td>
            <td>Н</td>
            <td>О</td>
            <td>П</td>
            <td>Р</td>
            <td>С</td>
            <td>Т</td>
            <td>У</td>
            <td>Ф</td>
            <td>Х</td>
            <td>Ц</td>
            <td>Ч</td>
            <td>Ш</td>
            <td>Щ</td>
            <td>Ъ</td>
            <td>Ы</td>
            <td>Ь</td>
            <td>Э</td>
            <td>Ю</td>
            <td>Я</td>
            <td>А</td>
            <td>Б</td>
            <td>В</td>
        </tr>
    </table>

    <p>Шифрованный текст получается путём замены каждой буквы оригинального текста соответствующей буквой шифрованного
        алфавита:</p>
    <p class="note">Е ъгьгш бжг йло дю щлхуцф? Зг, рс чгояылеюм анкиптову!</p>
    <p>Шаг шифрования, выполняемый шифром Цезаря, часто включается как часть более сложных схем, таких как <a
            href="/vigenere">шифр Виженера</a>, и всё ещё имеет современное приложение в системе ROT13. Как и все
        моноалфавитные шифры, шифр Цезаря легко взламывается и не имеет почти никакого применения на практике.</p>

    <h2 id="decryption">Алгоритм действий при дешифровании</h2>

    <p>Проделываем те же операции, как и при шифровании, но наоборот. Т.е., если слово зашифровано с помощью ROT5, то
        для дешифрования нужно сдвинуть каждую букву зашифрованного текста на 5 букв влево.</p>

    <h2 id="training">Тренировка</h2>

    <p>Для лучшего усвоения материала попробуйте выполнить следующее задание. При нажатии на кнопку "Обновить" задание
        изменится.</p>

    {{> training}}

</div>