<div class="text">
    <h1>Итоговое тестирование</h1>

    <div id="final-test-start">
        <p>
            Итоговое тестирование включает в себя проверку знаний по всем темам, представленным на сайте.
            После завершения тестирования выставляется оценка по критериям, представленным в следующей таблице:
        </p>

        <table id="grade-table"></table>

        <p>
            Перед тем как начинать тестирование, советуем потренироваться решать задачи по каждой теме. Для этого необходимо
            зайти на страницу теории и в содержании нажать на пункт "Тренировка".
        </p>

        <p>
            Если вы готовы, нажмите на кнопку "Начать".
        </p>
    </div>

    <div id="final-test-questions"></div>

    <button class="btn-refresh" id="final-test-start-button" onclick="GetQuestion()">Начать</button>

    <div id="final-test-results">
        <h1>Результаты</h1>
    </div>
</div>