<div class="text">
    <h1>Задания для вариантов</h1>

    <p>Выберите вариант и отобразятся все входящие в него задания.</p>

    <form action="/create-task-question" method="post" id="form-create-task-question">
        <p>Вариант:&nbsp;
            <select name="variant"></select>
        </p>

        <p>
            <input type="submit" value="Применить">
        </p>
    </form>

    <div id="variant-questions"></div>

</div>

