<div class="text">
    <h1>Преподавательская</h1>

    <p>Добро пожаловать, преподаватель. Здесь вы можете просматривать и редактировать задания для вариантов, а также
        просматривать результаты тестирований студентов.</p>

    <p><a href="/teacher-questions">Перейти к заданиям</a></p>
    <p><a href="/teacher-results">Результаты тестирований</a></p>
</div>

