<div class="text">
    <h1>Шифр Вернама</h1>

    <div class="image" style="float: right;">
        <img src="/assets/images/vernam1.jpg">
        <p>Гилберт Вернам</p>
    </div>

    {{> table_of_contents}}

    <br>

    <h2 id="description">Описание</h2>

    <p>В криптографии шифр Вернама известен также как «схема одноразовых блокнотов». Решение является системой
        симметричного шифрования, которая была изобретена в 1917 году сотрудниками AT&T Мейджором Джозефом Моборном и
        Гилбертом Вернамом.</p>
    <p>В 1949 годах была опубликована работа Клода Шеннона, где Шеннон доказал абсолютную стойкость шифра Вернама. В
        этой работе, Шеннон показал, что не существует других шифров с подобными свойствами и его выводом стало
        следующее утверждение: шифр Вернама – самая безопасная криптосистема из всех имеющихся.</p>

    <div class="image" style="float: right;">
        <img src="/assets/images/vernam2.jpg">
        <p>Джозеф Освальд Моборн</p>
    </div>

    <p>Однако, следует заметить, что для того, чтобы шифр действительно был стойким необходимо выполнение следующих трех
        правил:</p>
    <ol>
        <li>Ключ для шифрования выбирается случайным образом.</li>
        <li>Длина ключа должна быть равна длине открытого текста.</li>
        <li>Ключ должен использоваться ТОЛЬКО один раз.</li>
    </ol>

    <h2 id="encryption">Алгоритм действий при шифровании</h2>

    <p>А теперь поподробней о самом шифре и процессе шифрования. Так как этот шифр был придуман для компьютерных систем,
        то следует заметить, что базируется он на двоичной арифметике. Основным объектом рассмотрения в данном методе
        шифрования является логическая операция XOR (взаимоисключающее ИЛИ). Таким образом, так как у нас двоичная
        арифметика, то все операции будут осуществляется над нулем (0) и единицей (1). Логическая операция XOR в отличие
        от операции OR при логическом сравнении 0 и 1 дает 1, при сравнении 1 с 1 дает 0, а при 0 с 0 дает 0.
        Следовательно, если мы выполним операцию XOR над числами 10110 и 11010, то получим: 10110 xor 11010 = 01100.
        Надеюсь, что принцип работы операции XOR понятен.</p>

    <div class="image" style="float: right;">
        <img src="/assets/images/vernam3.jpg">
        <p>Одноразовый блокнот</p>
    </div>

    <p>Далее, так как шифр работает с двоичной системой исчисления, необходимо понимать, что буквы это всего лишь
        некоторая интерпретация числа, то есть число является кодом символа некоторой таблицы кодировок. К примеру,
        наиболее популярные таблицы кодировок это: ANSI, ASCII и UTF (unicode).</p>
    <p>Таким образом, перед тем как осуществить шифрование необходимо перевести все символы в их однозначную числовую
        интерпретацию. Если Вы решили применить шифр в компьютерных системах, то для Вас уже существуют соответствующие
        кодировки. Однако, если же Вы решили применить шифр Вернама к письменному тексту, то, к примеру дайте каждой
        букве используемого вами алфавита, соответствующий ей порядковый номер в двоичной системе исчисления. Например,
        если вы используете русский алфавит (без учета буквы Ё), то это будет выглядеть так: а -> 00000, б -> 00001, в
        -> 00010, г -> 00011, … я -> 111111. Тем самым мы определили свою таблицу кодировки. После этого, написав
        сообщение и придумав ключ, преобразуйте каждый символ в их числовое значение, соответствующее вашей таблице
        кодировки, и после этого осуществляйте операцию XOR над каждой соответствующей парой.</p>

    <h2 id="decryption">Алгоритм действий при дешифровании</h2>

    <p>Так как данный метод шифрования является симметричным, следовательно применив операцию XOR каждой паре символов
        шифр-текста (шифрограммы) и ключа, мы получим открытый текст.</p>

    <div class="image" style="margin-left: auto; margin-right: auto">
        <img src="/assets/images/vernam4.jpg">
        <p>Вторая половина таблицы кодов ASCII</p>
    </div>

    <h2 id="example">Пример</h2>

    <p>Зашифруем слово "МАТРОС" ключом "МОРФЛОТ". Для этого запишем ключ столько раз, чтобы количество букв
        из него соответствовало количеству букв в шифруемой фразе, путем повтора ключа или обрезания:</p>
    <table>
        <tr>
            <td width="150px">Сообщение:</td>
            <td width="150px">МАТРОС</td>
        </tr>
        <tr>
            <td>Ключ:</td>
            <td>МОРФЛО</td>
        </tr>
    </table>

    <p>Переведем их в бинарный код и выполним XOR:</p>
    <table style="border-spacing: 0; text-align: center">
        <tr>
            <td width="110px">11001100</td>
            <td width="110px">11000000</td>
            <td width="110px">11010010</td>
            <td width="110px">11010000</td>
            <td width="110px">11001110</td>
            <td width="110px">11010001</td>
        </tr>
        <tr class="border_bottom">
            <td>11001100</td>
            <td>11001110</td>
            <td>11010000</td>
            <td>11010100</td>
            <td>11001011</td>
            <td>11001110</td>
        </tr>
        <tr>
            <td>00000000</td>
            <td>00001110</td>
            <td>00000010</td>
            <td>00000100</td>
            <td>00000101</td>
            <td>00011111</td>
        </tr>
    </table>

    <p>В данном конкретном примере на месте результирующих символов мы увидим только пустое место, ведь все символы
        попали в первые 32 служебных символа. Однако, если перевести полученный результат в числа, то получим следующую
        картину:</p>
    <p class="note">0 14 2 4 5 31</p>
    <p>Теперь дешифруем:</p>
    <table style="border-spacing: 0; text-align: center">
        <tr>
            <td width="110px">00000000</td>
            <td width="110px">00001110</td>
            <td width="110px">00000010</td>
            <td width="110px">00000100</td>
            <td width="110px">00000101</td>
            <td width="110px">00011111</td>
        </tr>
        <tr class="border_bottom">
            <td>11001100</td>
            <td>11001110</td>
            <td>11010000</td>
            <td>11010100</td>
            <td>11001011</td>
            <td>11001110</td>
        </tr>
        <tr>
            <td>11001100</td>
            <td>11000000</td>
            <td>11010010</td>
            <td>11010000</td>
            <td>11001110</td>
            <td>11010001</td>
        </tr>
    </table>
    <p>Переводим двоичный код в десятичный и ищем в таблице букву с таким числом. Дешифрованное сообщение:</p>
    <p class="note">МАТРОС</p>

    <h2 id="training">Тренировка</h2>

    <p>Для лучшего усвоения материала попробуйте выполнить следующее задание. При нажатии на кнопку "Обновить" задание
        изменится.</p>

    {{> training}}

</div>