<div class="text">
    <h1>Шифр Виженера</h1>

    <div class="image" style="float: right;">
        <img src="/assets/images/vigenere1.jpg">
        <p>Блез Виженер</p>
    </div>

    {{> table_of_contents}}

    <br>

    <h2 id="description">Описание</h2>

    <p>Данный шифр на порядок более устойчив к взлому, чем моноалфавитные, хотя представляет собой шифр простой замены
        текста. Однако благодаря устойчивому алгоритму долгое время считался невозможным для взлома. Первые его
        упоминания относятся к 16-му веку. Виженер (французский дипломат) ошибочно считается его изобретателем. Чтобы
        лучше разобраться, о чем идет речь, рассмотрим таблицу Виженера (квадрат Виженера, tabula recta) для русского
        языка.</p>

    <div class="image" style="margin-left: auto; margin-right: auto">
        <img src="/assets/images/vigenere2.jpg">
        <p>Таблица Виженера</p>
    </div>

    <h2 id="encryption">Алгоритм действий при шифровании</h2>

    <p>Приступим к шифрованию фразы «Касперович смеется». Но, чтобы шифрование удалось, нужно ключевое слово — пусть им
        будет «пароль». Теперь начнем шифрование. Для этого запишем ключ столько раз, чтобы количество букв из него
        соответствовало количеству букв в шифруемой фразе, путем повтора ключа или обрезания:</p>
    <table class="note">
        <tr>
            <td width="80px"></td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
        </tr>
        <tr>
            <td>Фраза:</td>
            <td>К</td>
            <td>А</td>
            <td>С</td>
            <td>П</td>
            <td>Е</td>
            <td>Р</td>
            <td>О</td>
            <td>В</td>
            <td>И</td>
            <td>Ч</td>
            <td>С</td>
            <td>М</td>
            <td>Е</td>
            <td>Е</td>
            <td>Т</td>
            <td>С</td>
            <td>Я</td>
        </tr>
        <tr>
            <td>Ключ:</td>
            <td>П</td>
            <td>А</td>
            <td>Р</td>
            <td>О</td>
            <td>Л</td>
            <td>Ь</td>
            <td>П</td>
            <td>А</td>
            <td>Р</td>
            <td>О</td>
            <td>Л</td>
            <td>Ь</td>
            <td>П</td>
            <td>А</td>
            <td>Р</td>
            <td>О</td>
            <td>Л</td>
        </tr>
    </table>

    <p>Теперь по таблице Виженера, как по координатной плоскости, ищем ячейку, которая является пересечением пар букв, и
        получаем: К + П = Ъ, А + А = Б, С + Р = В и т. д.</p>

    <table class="note">
        <tr>
            <td width="80px"></td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
        </tr>
        <tr>
            <td>Шифр:</td>
            <td>Ъ</td>
            <td>Б</td>
            <td>В</td>
            <td>Ю</td>
            <td>С</td>
            <td>Н</td>
            <td>Ю</td>
            <td>Г</td>
            <td>Щ</td>
            <td>Ж</td>
            <td>Э</td>
            <td>Й</td>
            <td>Х</td>
            <td>Ж</td>
            <td>Г</td>
            <td>А</td>
            <td>Л</td>
        </tr>
    </table>

    <p>Получаем, что "касперович смеется" = "ъбвюснюгщж эйхжгал".</p>
    <p>Взломать шифр Виженера так сложно, потому что для работы частотного анализа необходимо знать длину ключевого
        слова. Поэтому взлом заключается в том, чтобы наугад бросать длину ключевого слова и пытаться взломать
        засекреченное послание.</p>
    <p>Следует также упомянуть, что помимо абсолютно случайного ключа может быть использована совершенно разная таблица
        Виженера. В данном случае квадрат Виженера состоит из построчно записанного русского алфавита со смещением на
        единицу. Что отсылает нас к шифру ROT1. И точно так же, как и в <a href="/caesar">шифре Цезаря</a>, смещение
        может быть любым. Более того, порядок букв не должен быть алфавитным. В данном случае сама таблица может быть
        ключом,
        не зная которую невозможно будет прочесть сообщение, даже зная ключ.</p>

    <h2 id="decryption">Алгоритм действий при дешифровании</h2>

    <p>Для того, чтобы восстановить (расшифровать) открытый текст, необходимо знать шифр-текст и ключ. Далее берем
        первую букву ключа определяем соответствующий ей столбец в Таблице Виженера и пробегаемся по нему сверху вниз
        пока не встретим первый символ шифр-текста. Как только встретили нужный символ, выписываем букву указывающую на
        эту строку — таким образом мы получаем первый символ открытого текста. Проделываем те же действия для оставшихся
        символов ключа и шифр-текста.</p>

    <h2 id="training">Тренировка</h2>

    <p>Для лучшего усвоения материала попробуйте выполнить следующее задание. При нажатии на кнопку "Обновить" задание
        изменится.</p>

    {{> training}}

</div>